.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.profile__image__hover {
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.edit__avatar {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 29px 0 0;
  display: flex;
  justify-content: center;
}

.icon__edit {
  background-image: url(../../../images/Vector.png);
  cursor: pointer;
  inline-size: 26px;
  block-size: 26px;
  align-self: center;
  display: none;
  position: absolute;
  left: 50px;
}

.icon__edit__active {
  display: block;
}



